body, h1, h2, h3, h4, h5, h6, p {
  /* font-family: 'plus-jakarta-sans', ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; */
}

@media (prefers-color-scheme: dark) {
  body, .w3-sidebar{
    color: #FFFFFF !important;
    background-color: #111111 !important;}
  .fill-bg-color{
    fill: #111111 !important;}}

@media (prefers-color-scheme: light) {
  body, .w3-sidebar{
    color: #111111 !important;
    background-color: #FFFFFF !important;}
  .fill-bg-color {
    fill: #FFFFFF !important;}}
