    <div class="w3-center w3-padding-small">
      <div class="w3-flex" style="justify-content:center;flex-wrap:wrap;">
        <a class="w3-bar-item w3-button w3-mobile" data-link-name="home" href="{LANG_ROOT}index.html">Home</a><a class="w3-bar-item w3-button w3-mobile" data-link-name="legal-notice" href="{LANG_ROOT}articles/legal-notice.html">Legal notice</a><a class="w3-bar-item w3-button w3-mobile" data-link-name="privacy" href="{LANG_ROOT}articles/privacy.html">Privacy</a><a class="w3-bar-item w3-button w3-mobile" data-link-name="disclaimer" href="{LANG_ROOT}articles/disclaimer.html">Disclaimer</a><a class="w3-bar-item w3-button w3-mobile" data-link-name="who-are-we" href="{LANG_ROOT}articles/who-are-we.html">Who are we?</a>
      </div>
    </div>
    <div class="w3-center w3-padding-small">
      <div class="w3-container w3-content w3-flex" style="justify-content:center;">
        <a data-link-name="linkedin" href="https://www.linkedin.com/company/hephaistox">
        <div class="w3-tooltip w3-button" style="overflow:visible;">
          <div class="w3-hover-opacity">
            <i class="fa fa-linkedin fa-brands"></i>
          </div>
          <div class="w3-text w3-tag" style="bottom:-2em;left:0em;position:absolute;">
            Linkedin
          </div>
        </div></a><a data-link-name="fb" href="https://www.facebook.com/profile.php?id=61586135248424">
        <div class="w3-tooltip w3-button" style="overflow:visible;">
          <div class="w3-hover-opacity">
            <i class="fa fa-brands fa-facebook-f"></i>
          </div>
          <div class="w3-text w3-tag" style="bottom:-2em;left:0em;position:absolute;">
            Facebook
          </div>
        </div></a><a data-link-name="youtube" href="https://www.youtube.com/@HephaistoxSC">
        <div class="w3-tooltip w3-button" style="overflow:visible;">
          <div class="w3-hover-opacity">
            <i class="fa fa-youtube fa-brands"></i>
          </div>
          <div class="w3-text w3-tag" style="bottom:-2em;left:0em;position:absolute;">
            Youtube
          </div>
        </div></a><a data-link-name="github" href="https://github.com/hephaistox">
        <div class="w3-tooltip w3-button" style="overflow:visible;">
          <div class="w3-hover-opacity">
            <i class="fa fa-github fa-brands"></i>
          </div>
          <div class="w3-text w3-tag" style="bottom:-2em;left:0em;position:absolute;">
            Github
          </div>
        </div></a>
      </div>
    </div>
    <div class="w3-center w3-padding-small">
      Hephaistox © 2026
    </div>
