      <div class="w3-left w3-hide-small">
        <div class="w3-flex" style="justify-content:center;">
          <a class="w3-bar-item w3-button w3-mobile" data-link-name="rivalis" href="{LANG_ROOT}articles/rivalis.html">Small entreprise coaching</a><a class="w3-bar-item w3-button w3-mobile" data-link-name="projets" href="{LANG_ROOT}articles/projets.html">IT project</a>
        </div>
      </div>
      <div class="w3-right">
        <div class="w3-bar">
          <button class="w3-button w3-right" onclick="switchLang('en')"><u>en</u></button><button class="w3-button w3-right" onclick="switchLang('fr')">fr</button>
        </div>
      </div>
      <script src="/js/lang.js"></script>
