    <p class="w3-hide-small w3-hide-medium" style="height:1px;margin-bottom:1px;margin-top:1px;"></p>
    <div class="w3-sidebar w3-bar-block w3-collapse w3-padding w3-animate-left w3-small l2" id="menu-sidebar" style="z-index:0;">
      <a class="w3-bar-item w3-button" data-link-name="home" href="{LANG_ROOT}index.html">Home</a>
      <hr>
      <a class="w3-bar-item w3-button" data-link-name="rivalis" href="{LANG_ROOT}articles/rivalis.html">Small entreprise coaching</a><a class="w3-bar-item w3-button" data-link-name="projets" href="{LANG_ROOT}articles/projets.html">IT project</a>
      <hr>
      <a class="w3-bar-item w3-button" data-link-name="hephaistox" href="{LANG_ROOT}articles/hephaistox.html">Hephaistox</a><a class="w3-bar-item w3-button" data-link-name="contacts" href="{LANG_ROOT}articles/contacts.html">Contact</a><a class="w3-bar-item w3-button" data-link-name="about-this-website" href="{LANG_ROOT}articles/about-site.html">About this website</a><button class="w3-button w3-large w3-display-topright w3-cell w3-hide-large" onclick="document.getElementById(&quot;menu-sidebar&quot;).style.display = &quot;none&quot;;"><i class="fa fa-times"></i></button>
    </div>
